{% extends 'AuderoBackendBundle::base.html.twig' %}

{% block title %}Admin Options{% endblock %}

{% block body_path %}
    <li class="active">
        <i class="fa fa-table"></i> Options
    </li>
{% endblock %}

{% block body_header %}Game options{% endblock %}

{% block body %}
    <div class="col-lg-6">
        <div class="table-responsive">

                {{ form(form_options) }}

        </div>
    </div>

{% endblock %}
