{% extends 'AuderoBackendBundle::base.html.twig' %}

{% block body_header %}Requests{% endblock %}

{% block body %}
    <table id="table-javascript"></table>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/auderobackend/js/request.js') }}" type="text/javascript"></script>
{% endblock %}
