{% extends "AuderoBackendBundle::base.html.twig" %}

{% block title %}AuderoBackendBundle:User:index{% endblock %}

{% block body_path %}
    <li>
        <i class="fa fa-dashboard"></i>  <a href="{{ path('backend_dashboard_index') }}">Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Users
    </li>
{% endblock %}

{% block body_header %}Users{% endblock %}

{% block body %}
    <table id="table-javascript"></table>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/auderobackend/js/user.js') }}" type="text/javascript"></script>
{% endblock %}


