{% extends "AuderoBackendBundle::base.html.twig" %}

{% block title %}Aadmin User{% endblock %}

{% block body_path %}
    <li class="active">
        <i class="fa fa-table"></i> Users
    </li>
{% endblock %}

{% block body_header %}Users{% endblock %}

{% block body %}
    <table id="table-javascript"></table>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/auderobackend/js/user.js') }}" type="text/javascript"></script>
{% endblock %}


