<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: United</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {% stylesheets
        '@AuderoWebBundle/Resources/public/css/bootstrap.css'
        '@AuderoWebBundle/Resources/public/assets/css/bootswatch.min.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">ShowPhoto</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">


        </div>
      </div>
    </div>

    <div class="container">
      {% block body%}
      {% endblock %}

      <footer>
      <div class="row">
        {% block footer%}{%endblock%}
      </div>
      </footer>

    </div>
    {% block javascripts %}
        {% javascripts
        '@AuderoWebBundle/Resources/public/js/jquery-1.10.2.min.js'
        '@AuderoWebBundle/Resources/public/bower_components/bootstrap/dist/js/bootstrap.min.js'
        '@AuderoWebBundle/Resources/public/assets/js/bootswatch.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
  </body>
</html>
